{% extends "news/base.html" %}

{% block content %}
    <style>
        #article-box{
           max-width: 50%;
            position: center;
            margin: auto auto 20px;
        }

        #search-box{
            margin-bottom: 20px;
        }
    </style>
	<div class="row justify-content-center" id="search-box">
        <div class="col-md-6">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" id="searchItem" type="search" placeholder="Search topics or keywords">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success"  onclick="searchItem();return false;">Search</button>
                </div>
                <!--end of col-->
            </div>
        </div>
                        <!--end of col-->
    </div>

    <article class="media content-section col-md-6" id="article-box">
        <div id="news-container"></div>
    </article>


{% endblock %}

{% block script %}

    <script>
        $(document).ready(function() {
             newHeadline();
        })

        function searchItem(){
            var q = document.getElementById("searchItem");
            q = q.value
            if(q==null){
                q=''
            }
            newHeadline(q)
        }

        function attachNews(values, prepend){
            var name = values['name'];
            var location = values['location'];
            var rating = values['rating'];

            newsFormatedHtml = `<div><h5>Name: ${name}</h5></div>
                                <div><h6>Loacation: <small>${location}   </small></h6><h6>Rating: <small>${rating}</small></h6></div> <\hr>
                                `;
            if (prepend === false){
                    $("#news-container").prepend(newsFormatedHtml)
                }else{
                    $("#news-container").append(newsFormatedHtml)
                }
            }

        function newHeadline(q=''){
            var token_v = window.localStorage.getItem('token')

            var url = '/api/restaurant-list/';
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'GET',
                headers: {"Authorization": 'Token ' + token_v},
                data : {
                    q: q
                },
                success: function (data) {
                    $("#news-container").html('')
                    var i;
                    for (i = 0; i < data.length; i++) {
                        attachNews(data[i], true)
                    }
                },
                error: function (data, jqXhr, textStatus, errorThrown) {
                    if (data['status'] == 401){
                        window.location.replace("/login/");
                    }
                }
            });
        }
    </script>

{% endblock %}
