{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Success Reset</title>
        <!-- Custom styles for this template-->
        <link href="{% static 'admin_portal/css/main.css' %}" rel="stylesheet" type="text/css">
        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body class="login_bg">
    <div class="col-xl-3 col-lg-5 col-md-6 m-auto mt-5">
        <div class="card o-hidden border-0 card-success">
            <div class="card-body p-0 card-body-success">
                <!-- Nested Row within Card Body -->
                <p id="success-message" class="text-center"></p>
                <a class="btn btn-outline-light confirm-btn text-center" id="loginButton" style="display: none" href="{% url 'food_delivery:login' %}">Login</a>
                <div class="p-5 text-center" id="email-box">
                    <form method="POST">
                        {% csrf_token %}
                            <legend class="border-bottom mb-4">Forgot Password</legend>
                            <div class="form-group">
                                <label for="reg-email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="reg-email">
                            </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit" onclick="newHeadline();return false;">POST</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function attachNews(data){
            document.getElementById('email-box').style.display = 'none';
            var success = data['Success'];
            document.getElementById("success-message").innerText = success;
            document.getElementById("loginButton").style.display = 'block';
        }
        function newHeadline(){
            var email = document.getElementById("reg-email");
            console.log(email.value)
            var url = '/api/user/password-reset/';
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data : {
                    email: email.value
                },
                success: function (data) {
                    attachNews(data)
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    window.location.replace("/login/");
                }
            });
        }
    </script>

</body>

</html>